fastapi
uvicorn[standard]
python-dotenv
langchain
langgraph
langchain-core

langchain[openai]
langchain[anthropic]
langchain[google-genai]
langchain-aws

httpx
pydantic
boto3
slowapi>=0.1.9

langchain-mcp-adapters>=0.1.0
pillow>=9.5.0

pytest==7.4.0
pytest-cov==4.1.0
pytest-html==3.2.0
pytest-asyncio>=0.23.0
